.wrapper {
  height: 100%;

  .layout {
    height: 100%;

    &_sider {
      .action {
        width: 100%;
        padding: 4px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_input {
          width: 76%;
        }

        &_button {
          display: flex;
        }
      }
    }

    &_right {
      padding: 0 10px;
    }
  }
}

:global {
  .n-tree .n-tree-node {
    padding: 5px 0;
  }
}
