:root {
  --border-color: rgb(239, 239, 245);
  --bar-icon-height: 52px;
  --project-color: #4a4141;
  --project-hilight-color: #dfffdf;
  --topbar-height: var(--bar-icon-height);
  --layout-bg-color: #f5f7f9;
}
